<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyc.mapper.JuziMapper" >
  <resultMap id="BaseResultMap" type="com.zyc.model.Juzi" >
    <id column="juziid" property="juziid" jdbcType="INTEGER" />
    <result column="juzineirong" property="juzineirong" jdbcType="VARCHAR" />
    <result column="juzichuchu" property="juzichuchu" jdbcType="VARCHAR" />
    <result column="juzileixing" property="juzileixing" jdbcType="INTEGER" />
    <result column="tianjiashijian" property="tianjiashijian" jdbcType="TIMESTAMP" />
    <collection property="juziTypeKey" column="juzileixing" jdbcType="INTEGER" select="com.zyc.mapper.JuziTypeMapper.selectByJuzi">
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    juziid, juzineirong, juzichuchu, juzileixing, tianjiashijian
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zyc.model.JuziExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from juzi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from juzi
    where juziid = #{juziid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from juzi
    where juziid = #{juziid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zyc.model.JuziExample" >
    delete from juzi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zyc.model.Juzi" >
    insert into juzi (juziid, juzineirong, juzichuchu, 
      juzileixing, tianjiashijian)
    values (#{juziid,jdbcType=INTEGER}, #{juzineirong,jdbcType=VARCHAR}, #{juzichuchu,jdbcType=VARCHAR}, 
      #{juzileixing,jdbcType=INTEGER}, #{tianjiashijian,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyc.model.Juzi" >
    insert into juzi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="juziid != null" >
        juziid,
      </if>
      <if test="juzineirong != null" >
        juzineirong,
      </if>
      <if test="juzichuchu != null" >
        juzichuchu,
      </if>
      <if test="juzileixing != null" >
        juzileixing,
      </if>
      <if test="tianjiashijian != null" >
        tianjiashijian,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="juziid != null" >
        #{juziid,jdbcType=INTEGER},
      </if>
      <if test="juzineirong != null" >
        #{juzineirong,jdbcType=VARCHAR},
      </if>
      <if test="juzichuchu != null" >
        #{juzichuchu,jdbcType=VARCHAR},
      </if>
      <if test="juzileixing != null" >
        #{juzileixing,jdbcType=INTEGER},
      </if>
      <if test="tianjiashijian != null" >
        #{tianjiashijian,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyc.model.JuziExample" resultType="java.lang.Integer" >
    select count(*) from juzi
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update juzi
    <set >
      <if test="record.juziid != null" >
        juziid = #{record.juziid,jdbcType=INTEGER},
      </if>
      <if test="record.juzineirong != null" >
        juzineirong = #{record.juzineirong,jdbcType=VARCHAR},
      </if>
      <if test="record.juzichuchu != null" >
        juzichuchu = #{record.juzichuchu,jdbcType=VARCHAR},
      </if>
      <if test="record.juzileixing != null" >
        juzileixing = #{record.juzileixing,jdbcType=INTEGER},
      </if>
      <if test="record.tianjiashijian != null" >
        tianjiashijian = #{record.tianjiashijian,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update juzi
    set juziid = #{record.juziid,jdbcType=INTEGER},
      juzineirong = #{record.juzineirong,jdbcType=VARCHAR},
      juzichuchu = #{record.juzichuchu,jdbcType=VARCHAR},
      juzileixing = #{record.juzileixing,jdbcType=INTEGER},
      tianjiashijian = #{record.tianjiashijian,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyc.model.Juzi" >
    update juzi
    <set >
      <if test="juzineirong != null" >
        juzineirong = #{juzineirong,jdbcType=VARCHAR},
      </if>
      <if test="juzichuchu != null" >
        juzichuchu = #{juzichuchu,jdbcType=VARCHAR},
      </if>
      <if test="juzileixing != null" >
        juzileixing = #{juzileixing,jdbcType=INTEGER},
      </if>
      <if test="tianjiashijian != null" >
        tianjiashijian = #{tianjiashijian,jdbcType=TIMESTAMP},
      </if>
    </set>
    where juziid = #{juziid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyc.model.Juzi" >
    update juzi
    set juzineirong = #{juzineirong,jdbcType=VARCHAR},
      juzichuchu = #{juzichuchu,jdbcType=VARCHAR},
      juzileixing = #{juzileixing,jdbcType=INTEGER},
      tianjiashijian = #{tianjiashijian,jdbcType=TIMESTAMP}
    where juziid = #{juziid,jdbcType=INTEGER}
  </update>
</mapper>